In [1]:
import xmltodict
import json
import pandas as pd
import os
import ast

In [ ]:
file = r'./2023/2300039.xml'
# Parse the XML file
with open(file) as f:
    xml_data = f.read()
# Convert XML to Python dictionary
xml_dict = xmltodict.parse(xml_data)
keys_data = xml_dict['rootTag']['Award'].keys()

In [16]:
list(keys_data)

['AwardTitle',
 'AGENCY',
 'AwardEffectiveDate',
 'AwardExpirationDate',
 'AwardTotalIntnAmount',
 'AwardAmount',
 'AwardInstrument',
 'Organization',
 'ProgramOfficer',
 'AbstractNarration',
 'MinAmdLetterDate',
 'MaxAmdLetterDate',
 'ARRAAmount',
 'TRAN_TYPE',
 'CFDA_NUM',
 'NSF_PAR_USE_FLAG',
 'FUND_AGCY_CODE',
 'AWDG_AGCY_CODE',
 'AwardID',
 'Investigator',
 'Institution',
 'Performance_Institution',
 'ProgramElement',
 'ProgramReference',
 'Appropriation',
 'Fund',
 'FUND_OBLG']

In [13]:
def getDF(folder_path):
    counter=0
    df = pd.DataFrame(columns=list(keys_data))
    for file in os.listdir(folder_path):
        if file.endswith(".xml"):
            with open(folder_path+file, encoding='utf-8') as f:
                xml_data = f.read()
                try:
                    xml_dict = xmltodict.parse(xml_data)
                    labels = []
                    for i in keys_data:
                        labels.append(xml_dict['rootTag']['Award'][i] if i in xml_dict['rootTag']['Award'] else None)
#                     print(file, ' ----> ', len(labels))
                    df.loc[counter] = labels
                    counter+=1
                except:
                    print("Error With File Name: ", file)
                    continue
    return df

In [ ]:
# for i in range(2023, 1958, -1):
#     print("Starting ", i, " ---->  ")
#     folder_path = './'+str(i)+'/'
#     df = getDF(folder_path)
#     df.to_csv('./'+str(i)+'.csv')
#     print("Done ", i)

Starting  2023  ---->
Done  2023
Starting  2022  ---->
Done  2022
Starting  2021  ---->
Done  2021
Starting  2020  ---->
Done  2020
Starting  2019  ---->
Done  2019
Starting  2018  ---->
Done  2018
Starting  2017  ---->
Done  2017
Starting  2016  ---->
Done  2016
Starting  2015  ---->
Done  2015
Starting  2014  ---->
Done  2014
Starting  2013  ---->
Done  2013
Starting  2012  ---->
Done  2012
Starting  2011  ---->
Error With File Name:  1117597.xml
Error With File Name:  1116739.xml
Error With File Name:  1111766.xml
Done  2011
Starting  2010  ---->
Error With File Name:  1022648.xml
Error With File Name:  1066456.xml
Error With File Name:  1028076.xml
Done  2010
Starting  2009  ---->
Error With File Name:  0917266.xml
Done  2009
Starting  2008  ---->
Error With File Name:  0833162.xml
Error With File Name:  0834750.xml
Error With File Name:  0831791.xml
Error With File Name:  0803440.xml
Error With File Name:  0834451.xml
Error With File Name:  0840444.xml
Error With File Name:  0826158.xml
Done  2008
Starting  2007  ---->
Error With File Name:  0719966.xml
Error With File Name:  0754512.xml
Error With File Name:  0709969.xml
Error With File Name:  0722598.xml
Error With File Name:  0745602.xml
Error With File Name:  0754674.xml
Done  2007
Starting  2006  ---->
Error With File Name:  0643234.xml

In [3]:
start = 1960
end = 2023
main_df = pd.read_csv('1959.csv')
for i in range(start, end+1):
    file_name = str(i)+'.csv'
    df = pd.read_csv(file_name)
    main_df = pd.concat([main_df, df])
print(main_df.shape)

(503126, 28)

In [148]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 503126 entries, 0 to 679
Data columns (total 27 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   AwardTitle               503098 non-null  object
 1   AGENCY                   403904 non-null  object
 2   AwardEffectiveDate       503126 non-null  object
 3   AwardExpirationDate      503126 non-null  object
 4   AwardTotalIntnAmount     450488 non-null  float64
 5   AwardAmount              502649 non-null  float64
 6   AwardInstrument          503126 non-null  object
 7   Organization             503126 non-null  object
 8   ProgramOfficer           503126 non-null  object
 9   AbstractNarration        391898 non-null  object
 10  MinAmdLetterDate         502581 non-null  object
 11  MaxAmdLetterDate         502581 non-null  object
 12  ARRAAmount               5154 non-null    float64
 13  TRAN_TYPE                403904 non-null  object
 14  CFDA_NUM                 396125 non-null  object
 15  NSF_PAR_USE_FLAG         403904 non-null  float64
 16  FUND_AGCY_CODE           403904 non-null  float64
 17  AWDG_AGCY_CODE           403904 non-null  float64
 18  AwardID                  503126 non-null  int64
 19  Investigator             501370 non-null  object
 20  Institution              502559 non-null  object
 21  Performance_Institution  403746 non-null  object
 22  ProgramElement           486867 non-null  object
 23  ProgramReference         354276 non-null  object
 24  Appropriation            225208 non-null  object
 25  Fund                     186474 non-null  object
 26  FUND_OBLG                401445 non-null  object
dtypes: float64(6), int64(1), object(20)
memory usage: 107.5+ MB

In [149]:
main_df.to_csv('awards.csv', index = False)

In [150]:
df = pd.read_csv('awards.csv')
df.head()

/home/harshan/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3221: DtypeWarning: Columns (9,14,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,AwardTitle,AGENCY,AwardEffectiveDate,AwardExpirationDate,AwardTotalIntnAmount,AwardAmount,AwardInstrument,Organization,ProgramOfficer,AbstractNarration,...,AWDG_AGCY_CODE,AwardID,Investigator,Institution,Performance_Institution,ProgramElement,ProgramReference,Appropriation,Fund,FUND_OBLG
0,Task Order For Partial Support of the ...,NSF,02/15/1961,07/31/1962,78000.0,78000.0,"OrderedDict([('Value', 'Contract-BOA/Task Orde...","OrderedDict([('Code', '01030701'), ('Directora...","OrderedDict([('SignBlockName', 'name not avail...",NaN,...,4900.0,5900040,"OrderedDict([('FirstName', 'May Beth'), ('Last...","OrderedDict([('Name', 'National Academy of Sci...","OrderedDict([('Name', None), ('CityName', None...","OrderedDict([('Code', '0000'), ('Text', None)])",NaN,NaN,NaN,1961~78000
1,General Support of a Council on Biological ...,NSF,06/30/1967,06/30/1969,50000.0,50000.0,"OrderedDict([('Value', 'Contract-BOA/Task Orde...","OrderedDict([('Code', '05020000'), ('Directora...","OrderedDict([('SignBlockName', 'name not avail...",NaN,...,4900.0,5900041,"OrderedDict([('FirstName', 'Russell'), ('LastN...","OrderedDict([('Name', 'National Academy of Sci...","OrderedDict([('Name', None), ('CityName', None...","OrderedDict([('Code', '0000'), ('Text', None)])",NaN,NaN,NaN,1967~50000
2,Contract For the Operation and Maintenance of ...,NSF,06/30/1967,06/30/1971,61155.0,61155.0,"OrderedDict([('Value', 'Contract')])","OrderedDict([('Code', '07000000'), ('Directora...","OrderedDict([('SignBlockName', 'name not avail...",NaN,...,4900.0,5900061,"OrderedDict([('FirstName', 'Evron'), ('LastNam...","OrderedDict([('Name', 'American Political Scie...","OrderedDict([('Name', None), ('CityName', None...","OrderedDict([('Code', '8830'), ('Text', 'SCIEN...",NaN,NaN,NaN,1967~33610
3,Task Order For a Study and Report on ...,NSF,06/30/1967,07/31/1968,76000.0,76000.0,"OrderedDict([('Value', 'Contract-BOA/Task Orde...","OrderedDict([('Code', '03030600'), ('Directora...","OrderedDict([('SignBlockName', 'name not avail...",NaN,...,4900.0,5900042,"OrderedDict([('FirstName', 'May Beth'), ('Last...","OrderedDict([('Name', 'National Academy of Sci...","OrderedDict([('Name', None), ('CityName', None...","OrderedDict([('Code', '0000'), ('Text', None)])",NaN,NaN,NaN,1967~76000
4,Contract For Operation and Maintenance of the ...,NaN,06/30/1967,06/30/1972,NaN,246813.0,"OrderedDict([('Value', 'Contract')])","OrderedDict([('Code', '07000000'), ('Directora...","OrderedDict([('SignBlockName', 'name not avail...",NaN,...,NaN,5900047,"OrderedDict([('FirstName', 'May Beth'), ('Last...","OrderedDict([('Name', 'American Institute of P...",NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
def str_to_dict(string):
    if isinstance(string, str):
        dict_str = string.replace("OrderedDict([", "").replace("])", "")
        return ast.literal_eval(dict_str)
    else:
        return None

In [152]:
df['Institution'] = df['Institution'].apply(str_to_dict)
df['AwardInstrument'] = df['AwardInstrument'].apply(str_to_dict)
df['Organization'] = df['Organization'].apply(str_to_dict)
df['Organization'] = df['Organization'].apply(str_to_dict)
df['Investigator'] = df['Investigator'].apply(str_to_dict)
df['Performance_Institution'] = df['Performance_Institution'].apply(str_to_dict)
df['ProgramElement'] = df['ProgramElement'].apply(str_to_dict)
df['ProgramOfficer'] = df['ProgramOfficer'].apply(str_to_dict)

In [153]:
df.head()

,AwardTitle,AGENCY,AwardEffectiveDate,AwardExpirationDate,AwardTotalIntnAmount,AwardAmount,AwardInstrument,Organization,ProgramOfficer,AbstractNarration,...,AWDG_AGCY_CODE,AwardID,Investigator,Institution,Performance_Institution,ProgramElement,ProgramReference,Appropriation,Fund,FUND_OBLG
0,Task Order For Partial Support of the ...,NSF,02/15/1961,07/31/1962,78000.0,78000.0,"(Value, Contract-BOA/Task Order)",None,"((SignBlockName, name not available), (PO_EMAI...",NaN,...,4900.0,5900040,"((FirstName, May Beth), (LastName, Givan), (PI...","((Name, National Academy of Sciences), (CityNa...","((Name, None), (CityName, None), (StateCode, N...","((Code, 0000), (Text, None))",NaN,NaN,NaN,1961~78000
1,General Support of a Council on Biological ...,NSF,06/30/1967,06/30/1969,50000.0,50000.0,"(Value, Contract-BOA/Task Order)",None,"((SignBlockName, name not available), (PO_EMAI...",NaN,...,4900.0,5900041,"((FirstName, Russell), (LastName, Stevens), (P...","((Name, National Academy of Sciences), (CityNa...","((Name, None), (CityName, None), (StateCode, N...","((Code, 0000), (Text, None))",NaN,NaN,NaN,1967~50000
2,Contract For the Operation and Maintenance of ...,NSF,06/30/1967,06/30/1971,61155.0,61155.0,"(Value, Contract)",None,"((SignBlockName, name not available), (PO_EMAI...",NaN,...,4900.0,5900061,"((FirstName, Evron), (LastName, Kirkpatrick), ...","((Name, American Political Science Association...","((Name, None), (CityName, None), (StateCode, N...","((Code, 8830), (Text, SCIENTIFIC & TECHNICAL P...",NaN,NaN,NaN,1967~33610
3,Task Order For a Study and Report on ...,NSF,06/30/1967,07/31/1968,76000.0,76000.0,"(Value, Contract-BOA/Task Order)",None,"((SignBlockName, name not available), (PO_EMAI...",NaN,...,4900.0,5900042,"((FirstName, May Beth), (LastName, Givan), (PI...","((Name, National Academy of Sciences), (CityNa...","((Name, None), (CityName, None), (StateCode, N...","((Code, 0000), (Text, None))",NaN,NaN,NaN,1967~76000
4,Contract For Operation and Maintenance of the ...,NaN,06/30/1967,06/30/1972,NaN,246813.0,"(Value, Contract)",None,"(SignBlockName, name not available)",NaN,...,NaN,5900047,"((FirstName, May Beth), (LastName, Givan), (Em...","((Name, American Institute of Physics), (CityN...",None,None,NaN,NaN,NaN,NaN

In [154]:
df.columns

Index(['AwardTitle', 'AGENCY', 'AwardEffectiveDate', 'AwardExpirationDate',
       'AwardTotalIntnAmount', 'AwardAmount', 'AwardInstrument',
       'Organization', 'ProgramOfficer', 'AbstractNarration',
       'MinAmdLetterDate', 'MaxAmdLetterDate', 'ARRAAmount', 'TRAN_TYPE',
       'CFDA_NUM', 'NSF_PAR_USE_FLAG', 'FUND_AGCY_CODE', 'AWDG_AGCY_CODE',
       'AwardID', 'Investigator', 'Institution', 'Performance_Institution',
       'ProgramElement', 'ProgramReference', 'Appropriation', 'Fund',
       'FUND_OBLG'],
      dtype='object')

In [155]:
df['Appropriation'] = df['Appropriation'].apply(lambda x: str_to_dict(x) if x is not None else None)

In [156]:
df['Fund'] = df['Fund'].apply(lambda x: str_to_dict(x) if x is not None else None)

In [157]:
df['ProgramReference'] = df['ProgramReference'].apply(lambda x: str_to_dict(x) if x is not None else None)

In [158]:
df['AwardInstrument'] = df['AwardInstrument'].apply(lambda x: x[1])

In [159]:
df['AwardEffectiveDate'] = pd.to_datetime(df['AwardEffectiveDate'])
df['AwardExpirationDate'] = pd.to_datetime(df['AwardExpirationDate'])
df['MinAmdLetterDate'] = pd.to_datetime(df['MinAmdLetterDate'])
df['MaxAmdLetterDate'] = pd.to_datetime(df['MaxAmdLetterDate'])

In [160]:
df.head()

,AwardTitle,AGENCY,AwardEffectiveDate,AwardExpirationDate,AwardTotalIntnAmount,AwardAmount,AwardInstrument,Organization,ProgramOfficer,AbstractNarration,...,AWDG_AGCY_CODE,AwardID,Investigator,Institution,Performance_Institution,ProgramElement,ProgramReference,Appropriation,Fund,FUND_OBLG
0,Task Order For Partial Support of the ...,NSF,1961-02-15,1962-07-31,78000.0,78000.0,Contract-BOA/Task Order,None,"((SignBlockName, name not available), (PO_EMAI...",NaN,...,4900.0,5900040,"((FirstName, May Beth), (LastName, Givan), (PI...","((Name, National Academy of Sciences), (CityNa...","((Name, None), (CityName, None), (StateCode, N...","((Code, 0000), (Text, None))",None,None,None,1961~78000
1,General Support of a Council on Biological ...,NSF,1967-06-30,1969-06-30,50000.0,50000.0,Contract-BOA/Task Order,None,"((SignBlockName, name not available), (PO_EMAI...",NaN,...,4900.0,5900041,"((FirstName, Russell), (LastName, Stevens), (P...","((Name, National Academy of Sciences), (CityNa...","((Name, None), (CityName, None), (StateCode, N...","((Code, 0000), (Text, None))",None,None,None,1967~50000
2,Contract For the Operation and Maintenance of ...,NSF,1967-06-30,1971-06-30,61155.0,61155.0,Contract,None,"((SignBlockName, name not available), (PO_EMAI...",NaN,...,4900.0,5900061,"((FirstName, Evron), (LastName, Kirkpatrick), ...","((Name, American Political Science Association...","((Name, None), (CityName, None), (StateCode, N...","((Code, 8830), (Text, SCIENTIFIC & TECHNICAL P...",None,None,None,1967~33610
3,Task Order For a Study and Report on ...,NSF,1967-06-30,1968-07-31,76000.0,76000.0,Contract-BOA/Task Order,None,"((SignBlockName, name not available), (PO_EMAI...",NaN,...,4900.0,5900042,"((FirstName, May Beth), (LastName, Givan), (PI...","((Name, National Academy of Sciences), (CityNa...","((Name, None), (CityName, None), (StateCode, N...","((Code, 0000), (Text, None))",None,None,None,1967~76000
4,Contract For Operation and Maintenance of the ...,NaN,1967-06-30,1972-06-30,NaN,246813.0,Contract,None,"(SignBlockName, name not available)",NaN,...,NaN,5900047,"((FirstName, May Beth), (LastName, Givan), (Em...","((Name, American Institute of Physics), (CityN...",None,None,None,None,None,NaN

In [161]:
df.to_csv('awards.csv', index = False)

In [3]:
df = pd.read_csv('awards.csv')
df.head()

/home/harshan/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3221: DtypeWarning: Columns (9,14,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,AwardTitle,AGENCY,AwardEffectiveDate,AwardExpirationDate,AwardTotalIntnAmount,AwardAmount,AwardInstrument,Organization,ProgramOfficer,AbstractNarration,...,AWDG_AGCY_CODE,AwardID,Investigator,Institution,Performance_Institution,ProgramElement,ProgramReference,Appropriation,Fund,FUND_OBLG
0,Task Order For Partial Support of the ...,NSF,1961-02-15,1962-07-31,78000.0,78000.0,Contract-BOA/Task Order,NaN,"(('SignBlockName', 'name not available'), ('PO...",NaN,...,4900.0,5900040,"(('FirstName', 'May Beth'), ('LastName', 'Giva...","(('Name', 'National Academy of Sciences'), ('C...","(('Name', None), ('CityName', None), ('StateCo...","(('Code', '0000'), ('Text', None))",NaN,NaN,NaN,1961~78000
1,General Support of a Council on Biological ...,NSF,1967-06-30,1969-06-30,50000.0,50000.0,Contract-BOA/Task Order,NaN,"(('SignBlockName', 'name not available'), ('PO...",NaN,...,4900.0,5900041,"(('FirstName', 'Russell'), ('LastName', 'Steve...","(('Name', 'National Academy of Sciences'), ('C...","(('Name', None), ('CityName', None), ('StateCo...","(('Code', '0000'), ('Text', None))",NaN,NaN,NaN,1967~50000
2,Contract For the Operation and Maintenance of ...,NSF,1967-06-30,1971-06-30,61155.0,61155.0,Contract,NaN,"(('SignBlockName', 'name not available'), ('PO...",NaN,...,4900.0,5900061,"(('FirstName', 'Evron'), ('LastName', 'Kirkpat...","(('Name', 'American Political Science Associat...","(('Name', None), ('CityName', None), ('StateCo...","(('Code', '8830'), ('Text', 'SCIENTIFIC & TECH...",NaN,NaN,NaN,1967~33610
3,Task Order For a Study and Report on ...,NSF,1967-06-30,1968-07-31,76000.0,76000.0,Contract-BOA/Task Order,NaN,"(('SignBlockName', 'name not available'), ('PO...",NaN,...,4900.0,5900042,"(('FirstName', 'May Beth'), ('LastName', 'Giva...","(('Name', 'National Academy of Sciences'), ('C...","(('Name', None), ('CityName', None), ('StateCo...","(('Code', '0000'), ('Text', None))",NaN,NaN,NaN,1967~76000
4,Contract For Operation and Maintenance of the ...,NaN,1967-06-30,1972-06-30,NaN,246813.0,Contract,NaN,"('SignBlockName', 'name not available')",NaN,...,NaN,5900047,"(('FirstName', 'May Beth'), ('LastName', 'Giva...","(('Name', 'American Institute of Physics'), ('...",NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503126 entries, 0 to 503125
Data columns (total 27 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   AwardTitle               503098 non-null  object
 1   AGENCY                   403904 non-null  object
 2   AwardEffectiveDate       503126 non-null  object
 3   AwardExpirationDate      503126 non-null  object
 4   AwardTotalIntnAmount     450488 non-null  float64
 5   AwardAmount              502649 non-null  float64
 6   AwardInstrument          503126 non-null  object
 7   Organization             0 non-null       float64
 8   ProgramOfficer           503126 non-null  object
 9   AbstractNarration        391898 non-null  object
 10  MinAmdLetterDate         502581 non-null  object
 11  MaxAmdLetterDate         502581 non-null  object
 12  ARRAAmount               5154 non-null    float64
 13  TRAN_TYPE                403904 non-null  object
 14  CFDA_NUM                 396125 non-null  object
 15  NSF_PAR_USE_FLAG         403904 non-null  float64
 16  FUND_AGCY_CODE           403904 non-null  float64
 17  AWDG_AGCY_CODE           403904 non-null  float64
 18  AwardID                  503126 non-null  int64
 19  Investigator             501370 non-null  object
 20  Institution              502559 non-null  object
 21  Performance_Institution  403746 non-null  object
 22  ProgramElement           486867 non-null  object
 23  ProgramReference         354276 non-null  object
 24  Appropriation            225208 non-null  object
 25  Fund                     186474 non-null  object
 26  FUND_OBLG                401445 non-null  object
dtypes: float64(7), int64(1), object(19)
memory usage: 103.6+ MB

In [10]:
half = df.shape[0]//2

In [12]:
df1 = df[:half]
df2 = df[half:]

In [13]:
df1.to_csv('Awards1.csv', index = False)